.header{
    background-color:  black;
    position: relative;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
}

.addToCart {
    position: absolute;
    top: 0px;
}
