  .menuContainer .menuItems::-webkit-scrollbar {
    display: none;
  }  

  .menuContainer {
    display: flex;
    padding-top: 20px;
    background-color: #8b0909;
    width: 100%;
  }

  .menuContainer .options {
    display: flex;
    align-items: center;
  }

  .menuContainer .menuItems {
    padding-left: 20px;
    overflow-y: scroll;
  }
  
  .menuContainer .menuItems .options {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
  }
  
  .options .optionBtn {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #000000;
    color: white;
    border: 2px solid #000000;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 0px 5px;
  }
  
  .options .optionBtn:hover, .options .optionBtn:focus {
    background: #000000;
    border: none;
    color: rgb(255, 255, 255)
  }
  
  .menuContainer .menuItems main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menuContainer .menuItems  main .details {
    background: #000000;
    border-radius: 10px;
    max-width: 220px;
    padding-bottom: 20px;
    margin: 20px 10px;
    overflow: hidden;
  }
  
  .menuContainer .menuItems  main .details .imgDetails {
    width: 100%;
    object-fit: cover;
  }
  
  .menuContainer .menuItems  main .details .foodName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin-top: 10px;
  }
  
  .menuContainer .menuItems  main .details .foodName h2 {
    color: #e9e9ec;
    font-size: 16px;
    font-weight: bold;
  }
  
  .menuContainer .menuItems  main .details .itemInfo {
    padding: 5px 10px;
    text-align: left;
    margin: 10px;
  }
  .menuContainer .menuItems  main .details .itemInfo {
    font-size: 12px;
    font-weight: bold;
    color: #a5a4a9;
  }
  
  .menuContainer .menuItems  main .details .selectBtn {
    padding: 5px 20px;
  }
  
  .menuContainer .menuItems  main .details .selectBtn .btn {
    text-decoration: none;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background: #8b0909;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
  }
  
  .menuContainer .menuItems  main .details .selectBtn .btn:hover {
    background: none;
    color: #ffffff;;
    border: 1px solid #ffffff;;
    transition: 0.5s ease-in-out;
  }
