html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*---------------------CSS AFFECTING EVERYTHING---------------------*/

/* Variables for the */
:root{
  /*Customer Dish Choice Menu Buttons*/
  --CustomerDishMenuBackgroundColor: #ffffff;
  --CustomerDishChoiceButtonTextColor: #8b0909;
	--CustomerDishChoiceButtonBackgroundColor: #000000;
  --CustomerDishChoiceButtonEdgeColor: #241e1e;
  --CustomerDishChoiceButtonTextHoverColor: #000000;
  --CustomerDishChoiceButtonBackgroundHoverColor: #ffffff;
  --CustomerCurrentOrderBackgroundColor: #f5f5f5;
  background-color: var(--CustomerDishMenuBackgroundColor);
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar { 
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*---------------------------------------------------------------*/

/*---------------------CUSTOMER CSS---------------------*/
.image{
  background-attachment: fixed;
  background-size: cover;
}
.CustomerMenuGrid{
  display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 48% 48%;
	grid-gap: 0px 2%;
	block-size:fit-content;
  background-color: #8b0909;
  /*background-image: url('pics/RedBackground.jpg');*/
  /* Make root have the background image and cover it */
  height: 100%
}

.CustomerMenuDishChoiceButton {
  background-color: var(--CustomerDishChoiceButtonBackgroundColor);
  border: none;
  color: var(--CustomerDishChoiceButtonTextColor);
  padding: 20%;
  margin: 10px;
  margin-left: none;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: max(1.2vw,15px);
  border-radius: 12px;
  transition-duration: 0.4s;
  border: 2px solid var(--CustomerDishChoiceButtonEdgeColor);
}
.CustomerMenuDishChoiceButton:hover {
  background-color: var(--CustomerDishChoiceButtonBackgroundHoverColor);
  color: var(--CustomerDishChoiceButtonTextHoverColor);
  cursor: default;
}
#Bowl{
  grid-row: 1 / span 1;
	grid-column: 1 / span 1;
}
#Plate{
  grid-row: 1 / span 1;
	grid-column: 2 / span 1;
}
#BiggerPlate{
  grid-row: 2 / span 1;
	grid-column: 1 / span 1;
}
#IndividualItems{
  grid-row: 2 / span 1;
	grid-column: 2 / span 1;
}
#CheckoutScreen{
  grid-row: 2 / span 1;
	grid-column: 2 / span 1;
  padding: 25px;
  padding-top: 20%;
  /* font-size: max(1.2vw,10px); */
}


/* List of all food items ordered */
.CustomerMenuCurrentOrder{

  position: relative;
  height: 1500px;

  grid-row: 1 / span 2;
	grid-column: 1 / span 1;
  background-color: var(--CustomerCurrentOrderBackgroundColor);
  margin: 15px;
  border: none;
  color: var(--CustomerDishChoiceButtonTextColor);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: max(1.5vw, 15px);
  border-radius: 12px;
  border: 2px solid var(--CustomerDishChoiceButtonEdgeColor);


}
#viewContainer{
  display:grid;
	grid-template-rows: 100vh;
	grid-template-columns: 40% 58%;
	grid-gap: 0px 1%;
	block-size:fit-content;
  background-color: black;
  /* background-image: url('pics/RedBackground.jpg'); */
  /* Make root have the background image and cover it */
  height: 100%;

}





/* Checkout Screen */
.CheckoutScreen{
  display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 48% 48%;
	grid-gap: 0px 2%;
	block-size:fit-content;
  background-image: url('pics/RedBackground.jpg');
  margin: auto;
}
/* .CustomerCheckoutOrder{
  grid-row: 1 / span 1;
	grid-column: 2 / span 2;

  background-color: var(--CustomerCurrentOrderBackgroundColor);
  margin: 15px;
  border: none;
  color: var(--CustomerDishChoiceButtonTextColor);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: max(1.5vw, 15px);
  border-radius: 12px;
  border: 2px solid var(--CustomerDishChoiceButtonEdgeColor);
} */
.CustomerCheckoutButton {
  background-color: var(--CustomerDishChoiceButtonBackgroundColor);
  border: none;
  color: var(--CustomerDishChoiceButtonTextColor);
  padding: 0%;
  margin: 10px;
  margin-left: none;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: max(1.2vw,15px);
  border-radius: 12px;
  transition-duration: 0.4s;
  border: 2px solid var(--CustomerDishChoiceButtonEdgeColor);
}
.CustomerCheckoutButton:hover {
  background-color: var(--CustomerDishChoiceButtonBackgroundHoverColor);
  color: var(--CustomerDishChoiceButtonTextHoverColor);
  cursor: default;
}


#Checkout{
  grid-row: 2 / span 1;
	grid-column: 2 / span 1;
}
#GoBack{
  grid-row: 2 / span 1;
	grid-column: 1 / span 1;
  padding-right: max(90px, 5vw);
  padding-left: 25px;
}
#Price{
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  padding: 20px;
  margin:auto;
  font-size: max(1.2vw,25px);
  border-radius: 12px;
  border: 2px solid var(--CustomerDishChoiceButtonEdgeColor);
  background-color: var(--CustomerCurrentOrderBackgroundColor)
}
#PriceSpan{
  font-size: max(2vw,20px);
}
#CheckoutText{
  padding-top: max(20px, 1.9vw);
  text-decoration: none;
  text-align: center;
  font-size: max(2vw,25px);
  border-radius: 12px;
  transition-duration: 0.4s;
  font-weight: bold;
}


/*---------------------------------------------------------------*/
