body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0,0,0);
    font-family: 'Bilbo';
}

#bannerFull {
    /*Mess with placement*/
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding: 1%;
}

#bannerImage {
    /*Insert the actual image here for the banner*/
    background-image: url(./Images/sakuraBG.gif); /* Yea I'm a nerd, so what */
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*Make sure it doesn't repeat*/
    background-repeat: no-repeat;
    z-index: 0;
}

#bannerText {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3); /* Black see-thru */
    color: pink;
    font-weight: bold;
    font-size: 20px;
    border: 4px ridge rgb(255, 63, 63);
    position: absolute;
    z-index: 5;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    left: 1%;
    text-align: center;
}

.buttonMain {
    display: inline-block;
    position: relative;
    background-color: rgb(255, 192, 203, 0.5);
    border: 2px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Bilbo';
    font-size: 40px;
    padding: 30px;
    max-width: max-content;
    transition: background-color 1000ms ease-out 100ms;
}
.buttonMain:hover {
    background-color: rgb(255, 192, 203);    
}
#buttonsMain {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
    border: 4px ridge rgb(255, 63, 63);
    position: fixed;
    top: 2%;
    left: 18%;
    right: 18%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 70%;
    height: auto;
    padding: 30px;
    gap: 30px;
}
#buttonsSmall {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
    border: 4px ridge rgb(255, 63, 63);
    position: absolute;
    top: 2%;
    left: 18%;
    right: 18%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 70%;
    height: auto;
    padding: 30px;
    gap: 30px;
}
.buttonSmall {
    display: inline-block;
    position: relative;
    background-color: rgb(255, 192, 203, 0.5);
    border: 2px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Bilbo';
    font-size: 40px;
    padding: 20px;
    max-width: max-content;
    transition: background-color 1000ms ease-out 100ms;
}
.buttonSmall:hover {
    background-color: rgb(255, 192, 203);   
}
@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-8px);}
    100% {transform: translateY(0);}
}

#slideshow {
    border: 5px groove rgb(255, 63, 63);
    border-radius: 40px;
    height: 400px;
    width: 400px;
    position: fixed;
    top: 37%;
    left: 1%;
    overflow: hidden;
    transition: opacity 1000ms ease-in-out 300ms;
}
#slideshow:hover {
    opacity: 0%;
}

.slide-wrap {
    width: 100%;
    display: flex;
    animation: slide 16s ease-in-out infinite;
}

.img {
    max-width: 100%;
    height: auto;
}

@keyframes slide {
    0% {transform: translateX(0);}
    20% {transform: translateX(0);}
    25% {transform: translateX(-100%);}
    45% {transform: translateX(-100%);}
    50% {transform: translateX(-200%);}
    70% {transform: translateX(-200%);}
    75% {transform: translateX(-300%);}
    95% {transform: translateX(-300%);}
    100% {transform: translateX(0);}
}

#textBox {
    position: absolute;
    top: 30%;
    left: 1%;
    right: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    padding: 20px;
    gap: 10px;
    color: whitesmoke;
    text-align: left;
    align-items: left;
    font-size: 25px;
}

article {
    background-color: rgb(0,0,0);
    background-color: rgb(255, 192, 203, 0.6);
    border: 4px ridge rgb(255, 63, 63);
    flex: 1;
    transition: background-color 1000ms ease-out 100ms;
}
article:hover {
    background-color: rgb(0, 0, 0);
}
#artimg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    align-self: top;
    border: none;
}

.textImg {
    max-width: 100%;
    max-height: 200px;
    background: black;
    z-index: 999;
    border: 5px groove whitesmoke;
    border-radius: 20px;
    position: relative;
    transition: border-color 1s ease-out 100ms, filter 1s ease-out 100ms;
}
.textImg:hover {
    border-color: rgb(255, 192, 203);
    filter: brightness(50%);
}

#resume {
    align-self: center;
    max-width: 100%;
    height: 100%;
    border: 5px groove rgb(255, 63, 63);
    border-radius: 40px;
    position: relative;
    transition: border-color 1s ease-out 100ms;
}
#resume:hover {
    border-color: rgb(255, 192, 203);
}
.styles {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: fit-content;
    max-height: fit-content;
    right: 1%;
    top: 1%;
    gap: 10px;
}
#stylebutton {
    display: inline-block;
    background-color: rgb(255, 192, 203);
    border-radius: 40px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    transition: border-color 1s ease-out 100ms, color 1s ease-out 100ms;
}
#stylebutton:hover {
    animation-name: smallfloat;
    animation-timing-function: ease-in-out;
    color: gold;
    border-color: gold;
}
@keyframes smallfloat {
    0% {transform: translateY(0);}
    50% {transform: translateY(-4px);}
    100% {transform: translateY(0);}
}
a {
    align-self: center;
}